@model PersonCombinedViewModel
@{
    ViewData["Title"] = "Корисници";
    int currentPage = (Model.Skip ?? 0) / (Model.Take ?? 10) + 1;
    int totalPages = (int)Math.Ceiling((double)(Model.Total ?? 0) / (Model.Take ?? 10));
    int pageRange = 5;
    int startPage = Math.Max(1, currentPage - pageRange / 2);
    int endPage = Math.Min(totalPages, startPage + pageRange - 1);

    if (endPage - startPage + 1 < pageRange)
    {
        startPage = Math.Max(1, endPage - pageRange + 1);
    }
}
<div class="d-flex justify-content-between align-items-center mb-2">
    <h1 class="display-5">Корисници</h1>
</div>
<form method="get" asp-action="Index">
    <div class="row mb-3">
        <div class="col-lg">
            <input type="text" class="form-control" name="firstName" placeholder="Име" value="@(Model.FirstName ?? string.Empty)" />
        </div>
        <div class="col-lg">
            <input type="text" class="form-control" name="lastName" placeholder="Презиме" value="@(Model.LastName ?? string.Empty)" />
        </div>
        <div class="col-lg">
            <input type="text" class="form-control" name="code" placeholder="Број на картичка" value="@(Model.Code ?? string.Empty)" />
        </div>
        <div class="col-lg">
            <button type="submit" class="btn btn-primary me-2"><img class="img-fluid" width="20px" src="~/img/icons/search.svg" /></button>
            <a class="btn btn-success" asp-area="" asp-controller="People" asp-action="Create"><img class="img-fluid" width="20px" src="~/img/icons/user-plus.svg" /> Нов корисник</a>
        </div>
    </div>
</form>
@if (Model.Buffer.Count > 0)
{
    <table class="table mb-3">
        <thead>
            <tr>
                <th>Име</th>
                <th>Презиме</th>
                <th style="width:60px">Бришење</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Buffer)
            {
                <tr class="bg-warning">
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>
                        <a href="@("People/DeleteBuffered?firstName=" + person.FirstName + "&lastName=" + person.LastName)" class="btn btn-sm btn-danger">
                            <img class="img-fluid" width="18px" src="~/img/icons/trash.svg" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.People.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Име</th>
                <th>Презиме</th>
                <th>Број на картичка</th>
                <th style="width:60px">VIP</th>
                <th style="width:60px">Бришење</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.People)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td><a class="btn btn-link" asp-area="" asp-controller="Records" asp-action="Index" asp-route-code="@person.Code">@person.Code</a></td>
                    <td>
                        @if (person.IsWhitelisted)
                        {
                            <a href="@("/People/Edit/" + person.Id)" class="btn btn-sm btn-primary">vip</a>
                        }
                        else
                        {
                            <a href="@("/People/Edit/" + person.Id)" class="btn btn-sm btn-outline-primary">vip</a>
                        }
                    </td>
                    <td>
                        <a href="@("/People/Delete/" + person.Id)" class="btn btn-sm btn-danger">
                            <img class="img-fluid" width="18px" src="~/img/icons/trash.svg" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Math.Max(1, (currentPage - 1)))" asp-route-firstName="@Model.FirstName" asp-route-lastName="@Model.LastName" asp-route-code="@Model.Code">&#60;&#60;</a>
            </li>
            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Math.Max(1, i))" asp-route-firstName="@Model.FirstName" asp-route-lastName="@Model.LastName" asp-route-code="@Model.Code">@i</a>
                </li>
            }
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(currentPage + 1)" asp-route-firstName="@Model.FirstName" asp-route-lastName="@Model.LastName" asp-route-code="@Model.Code">&#62;&#62</a>
            </li>
        </ul>
    </nav>
}
else
{
    <div class="card">
        <div class="card-header">
            <h3 class="display-6">Нема внесени корисници</h3>
        </div>
    </div>
}
@* <script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/save_confirm.js"></script> *@