@model PersonCombinedViewModel
@{
    ViewData["Title"] = "Корисници";
    int currentPage = (Model.Skip ?? 0) / (Model.Take ?? 10) + 1;
    int totalPages = (int)Math.Ceiling((double)(Model.Total ?? 0) / (Model.Take ?? 10));
    int pageRange = 5;
    int startPage = Math.Max(1, currentPage - pageRange / 2);
    int endPage = Math.Min(totalPages, startPage + pageRange - 1);

    if (endPage - startPage + 1 < pageRange)
    {
        startPage = Math.Max(1, endPage - pageRange + 1);
    }
}
<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-5">Корисници</h1>
    <a class="btn btn-success" asp-area="" asp-controller="People" asp-action="Create">Нов корисник</a>
</div>
@if (Model.Buffer.Count > 0)
{
    <table class="table mb-3">
        <thead>
            <tr>
                <th>Име</th>
                <th>Презиме</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Buffer)
            {
                <tr class="bg-warning">
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}
@if(Model.People.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Име</th>
                <th>Презиме</th>
                <th>Шифра</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.People)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Code</td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Math.Max(1, (currentPage - 1)))">Предходно</a>
            </li>
            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Math.Max(1, i))">@i</a>
                </li>
            }
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(currentPage + 1)">Следно</a>
            </li>
        </ul>
    </nav>
} else
{
    <div class="card">
        <div class="card-header">
            <h3 class="display-6">Нема внесени корисници</h3>
        </div>
    </div>
}