@{
    ViewData["Title"] = "Извештаи";
    int currentPage = (Model.Skip ?? 0) / (Model.Take ?? 10) + 1;
    int totalPages = (int)Math.Ceiling((double)(Model.Total ?? 0) / (Model.Take ?? 10));
    int pageRange = 5;
    int startPage = Math.Max(1, currentPage - pageRange / 2);
    int endPage = Math.Min(totalPages, startPage + pageRange - 1);

    if (endPage - startPage + 1 < pageRange)
    {
        startPage = Math.Max(1, endPage - pageRange + 1);
    }
}
@model RecordsListViewModel
<div class="d-flex justify-content-between align-items-center mb-2">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <form method="get" asp-action="Export">
        <div class="d-flex align-items-center">
            Од <input type="date" id="start-date" name="Start" class="form-control mx-2" placeholder="Почеток"/>
            До <input type="date" id="end-date" name="End" class="form-control mx-2" placeholder="Крај"/>
            <button class="btn btn-outline-primary" type="submit">Превземи</button>
        </div>
    </form>
</div>
<form method="get" asp-action="Index">
    <div class="row mb-3">
        <div class="col-lg-3">
            <input type="text" name="code" class="form-control" value="@Model.Code" placeholder="Број на картичка" />
        </div>
        <div class="col-lg-3">
            <button type="submit" class="btn btn-primary"><img class="img-fluid" width="20px" src="~/img/icons/search.svg" /></button>
        </div>
    </div>
</form>
@if (Model.Records.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Име</th>
                <th>Презиме</th>
                <th>Број на картичка</th>
                <th style="width: 15rem;">Време</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Records)
            {
                <tr>
                    <td>@record.FirstName</td>
                    <td>@record.LastName</td>
                    <td>@record.Code</td>
                    <td>@record.Time.ToString("HH:mm dd.MM.yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Math.Max(1, (currentPage - 1)))" asp-route-code="@Model.Code">&#60;&#60;</a>
            </li>
            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Math.Max(1, i))" asp-route-code="@Model.Code">@i</a>
                </li>
            }
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(currentPage + 1)" asp-route-code="@Model.Code">&#62;&#62;</a>
            </li>
        </ul>
    </nav>
}
else
{
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="display-6">Нема најдено податоци</h3>
        </div>
    </div>
}
